[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
randomdict = "*"
ipykernel = "*"
tk = "*"
geopy = "*"
tqdm = "*"
sklearn = "*"
jupyter = "*"
pyspark = "*"
ineqpy = "*"
seaborn = "*"
joypy = "*"

[dev-packages]

[requires]
python_version = "3.8"
